* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.wrapper {
    display: flex;
    height: 100%;
}

aside {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    flex: 0 0 200px;
    border: 1px solid #f1f1f3;
}

.polka {
    border-bottom: 2px solid #f1f1f3; 
    height: 72px; 
    padding: 20px; 
    margin: 0;
    text-align: left;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    background-color: #f1f1f3;
    color: black;
    border-radius: 5px;
}

.icon {
    height: 24px;
    color: #898989;
}

.d-flex {
    display: flex ;
    align-items: center;
}

.padding {
    padding-right: 10px;
}

.color {
    color: black;
}

nav {
    flex-grow: 1;
    overflow: auto;
    height: 100%;
}

nav .nav-1 {
    padding: 20px;
}

ul {
    list-style: none;
    text-align: left;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 2px solid #f1f1f3;
}

header {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
    height: 70px;
    padding-left: 30px;
    padding-right: 60px;
    border-bottom: 1px solid #f1f1f3;
    background-color: #f1f1f3;
}

header .icon {
    background-color: white;
    position: absolute;
    font-size: 16px;
    padding: 8px;
    height: 32px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px ;
}

.search {
    width: 500px; 
    height: 32px; 
    padding-left: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px ;
    border: #f1f1f3;
}

.button {
    color: white;
    background-color: #18dca1; 
    border-radius: 5px; 
    border: none;
    height: 40px;
    width: 200px;
    cursor: pointer;
}

main {
    flex-grow: 1;
}

.div {
    width: 100%;
    height: 200px;
    border-bottom: 2px solid #f1f1f3;
}
