// Theme Primary Color
$primary: #f2fcf4;
$white: #ffffff;

// Body
$body-bg: #fafafa;

// Mainly use for UI controls like Buttons
$secondary: #00b11c;

// Mainly use for Icon color
$icon-color: #989898;

// Mainly use for Normal Text color
$text-color: #0d0d0f;
$common-text-color: #86878e;
$lighter-text-color: #a0a1a7;

// Header
$border-bottom-color: #ebebeb;

// Card 
$scan-icon-color: #101010;
$scan-circle-color: #f2f2f2;
$list-icon-color: #3f9af5;
$list-circle-color: #e9f4ff;
$cost-icon-color: #34b881;
$cost-circle-color: #e7f8f0;
$cart-icon-color: #f99232;
$cart-circle-color: #fff4e8;
$money-icon-color: #6a68f7;
$money-circle-color: #f1f0ff;
$health-icon-color: #e96d6f;
$health-circle-color: #ffeeed;

// Table 
$table-border-color: #fafafa;
$discard-color: #e6686c;
$discard-bg-color: #ffeeed;
$want-color: #4bbb5f;
$want-bg-color: #f1fef3;
$waiting-color: #eba94e;
$waiting-bg-color: #fff7e3;
$cancel-color: #3a3d4a;
$cancel-bg-color: #f6f6f6;