// All the SCSS Variables goes here
// Fonts
$font-family: "Josefin Sans", sans-serif;
$font-weight: 500;
$font-weight-bold: 600;

// Common
$transition-timing: 0.4s;

// Border-radius
$rounded-circle: 50%;

// Header
$header-height: 90px;
$header-icon-size: 24px;

// Sidebar
$sidebar-width: 200px;
$sidebar-icon-size: 24px;

// Card 
$card-icon-size: 24px;
$card-circle-height: 50px;
$card-circle-width: 50px;
