// Main area style
.dashboard-container {
  background-color: #f8f8f8;

  .icon {
    font-size: 20px;
    color: $icon-color;
    top: 50%;
    left: 90px;
    transition: $transition-timing all;
    cursor: pointer;
  }

  .heading {
    font-size: 24px;
  }

  #sidebar-checkbox {
    display: none;
  }

  #sidebar-checkbox:checked {
    & ~ .dashboard-container {
      .icon {
        left: 0;
      }
    }
    & ~ aside {
      width: 0;
      transform: translateX(-90px);
    }

    & ~ main .icon {
      transform: rotate(180deg);
    }
  }
}

.p-30 {
  padding: 30px;
}

@include for-size(sm) {
  .dashboard-container {
    .icon {
      top: 50%;
      left: 12%;
    }
  }
}

@include for-size(x-sm) {
  .dashboard-container {
    .icon {
      top: 50%;
      left: 15%;
    }
  }
}
