// Sidebar area style
.sidebar {
  background-color: $sidebar-bg;
  width: $sidebar-width;
  transition: all $transition-timing ease-in-out;

  .nav-bar {
    
    .nav-item {
      padding: 30px 0;
      text-align: center;   
    }

    .nav-link{
      &.active{
        .icon{
          color: $primary;
        }
      }
    }

    .menu {
      padding: 40px 0 30px 0;
    }

    .logout {
      padding: 30px 0 90px 0;
    }
  }

  nav ul {
    list-style-type: none;
  }

  .icon {
    font-size: $sidebar-icon-size;
    color: $icon-color;
    &:hover {
      color: $primary;
    }
  }
}

@include for-size (md) {
  .sidebar {
    .icon {
      font-size: 20px;
    }
  }
}

@include for-size (sm) {
  .sidebar {
    width: 70px;
    .icon {
      font-size: 16px;
    }
  }
}

@include for-size (x-sm) {
  .sidebar {
    width: 200px;
    flex-shrink: 1;
    .icon {
      font-size: 16px;
    }
  }
}