// Theme Colors
$primary: #438ffe;
$white: #ffffff;

// Body
$body-bg: #f8f8f8;

// Fonts
$text-color: #160e4d;
$text-muted-color: #abb1bf;

// Icon
$icon-color: #abb1bf;
$icon-hover-color: $primary;

// Header
$header-bg: $white;
$icon-button-color: $primary;
$search-bar-color: #f8f8f8;
$border-bottom-color: #e2e2e2;

// Sidebar
$sidebar-bg: $white;
$nav-icon-color: $icon-color;
$nav-active-color: #438ffe;

// Card
$card-bg: $white;
$card-hover-text-color: $white;
$card-big-text-color: $text-color;
$card-small-text-color: $text-muted-color;
$card-hover-color: #ffffff4a;
$card-graph-up-color: #8dc48b;
$card-graph-down-color: #fe7c52;

// View Card
$view-card-hover-bg: $primary;
$view-card-icon-color: $primary;
$view-card-box-color: #edf4ff;

// Bag Card
$bag-card-hover-bg: #8dc48b;
$bag-card-icon-color: #8dc48b;
$bag-card-text-link-color: $primary;
$bag-card-box-color: #f4f9f4;

// User Card
$user-card-hover-bg: $primary;
$user-card-icon-color: $primary;
$user-card-box-color: #edf4ff;

// Cart Card
$cart-card-hover-bg: #83bcbd;
$cart-card-icon-color: #83bcbd;
$cart-card-box-color: #f3f9f9;

// Table
$table-bg: $white;
$table-cell-color: #f8f8f8;
$table-text-color: $text-color;
$table-status-color: $primary;

// Graph
$graph-bg: $white;
$graph-big-text-color: $text-color;
$graph-small-text-color: $text-muted-color;
