// Theme Colors
$primary: #438ffe;
$white: #ffffff;

// Body
$body-bg: #f8f8f8;

// Fonts
$text-color: #160e4d;
$text-muted: #abb1bf;

// Header
$header-bg: #ffffff;
$icon-button-color: #438ffe;
$search-bar-color: #f8f8f8;

// Sidebar
$sidebar-bg: #ffffff;
$nav-icon-color: $text-muted;
$nav-active-color: #438ffe;

// Card
$card-bg: #ffffff;
$card-hover-text-color: #ffffff;
$card-big-text-color: $text;
$card-small-text-color: $text-muted;

// Card1
$card1-hover-bg: $primary;
$card1-icon-color: $primary;
$crad1-graph-color: #8dc48b;

// Card2
$card2-hover-bg: #8dc48b;
$card2-icon-color: #8dc48b;
$crad2-graph-color: #fe7c52;
$card2-text-link-color: $primary;

// Card3
$card3-hover-bg: $primary;
$card3-icon-color: $primary;
$crad3-graph-color: #8dc48b;

// Card4
$card4-hover-bg: #83bcbd;
$card4-icon-color: #83bcbd;
$crad4-graph-color: #8dc48b;

// Table
$table-bg: #ffffff;
$table-cell-color: #f8f8f8;
$table-text-color: $text;
$table-status-color: $primary;

// Graph
$graph-bg: #ffffff;
$graph-bottom-color: #fe7c52;
$graph-top-color: #83bcbd;
$graph-big-text-color: $text;
$graph-small-text-color: $text-muted;
