// Button styles goes here

// Search Button
button {
  width: $search-btn-width;
  height: $search-btn-height;
  background-color: $icon-button-color;
  color: $white;
  border: none;
  left: 99%;
  cursor: pointer;
}

@include for-size (lg) {
  button {
    width: 50px;
    height: 30px;
  }
}

@include for-size (sm) {
  button {
    width: 50px;
    height: 20px;
  }
}

@include for-size (x-sm) {
  button {
    display: none;
  }
}
