.table-wrapper {
  margin: 30px -15px;

  .table-container {
    background-color: $table-bg;
    margin: 0 15px;
    padding: 20px;
    height: 500px;
    width: 65%;

    table {
      border-collapse: collapse;
      text-align: left;
      width: 100%;

      .thead {
        margin-left: 10px;
        margin-right: 20px;
        .table-cell {
          position: sticky;
          top: 0;
          padding: 10px;
          font-size: $table-heading-size;
          background-color: $table-head-bg;
        }
      }
    }

    .tbody {
      .table-cell {
        padding: 10px;
        border-top: 20px solid $white;
        font-size: $table-text-size;
        font-weight: $font-weight-bold;
      }
      .product-name {
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 70px;
        overflow: hidden;
      }
    }

    .table-cell-color {
      background-color: $table-cell-color;
    }

    .table-status-color {
      color: $table-status-color;
    }

    .image {
      height: 50px;
      width: 50px;
      flex-shrink: 0;
    }
  }
}

@include for-size(md) {
  .table-wrapper {
    flex-wrap: wrap;
    margin-top: 0;
    .table-container {
      width: 100%;
      margin: 15px;
    }
  }
}

@include for-size(sm) {
  .table-wrapper {
    flex-wrap: wrap;
    margin-top: 0;
    .table-container {
      margin: 15px;
    }
  }
}
